body{
    height:520px;
    background-image: url('./images/jpg.webp');
    background-position: center;
    display: inline-block;
    /* padding: 0%; */
    
    
}
.main{
     text-align: center;
    background-color: rgba(231, 157, 97, 0.7);
    margin-top: 140px;
    color: rgb(20, 19, 19);
}

#head1{
height:30px;
width: 30rem;
}

#datetime{
   height: 60px;
   width: 30rem;
}
#hours{
    height: 10px;
    width:30rem;
} 
#minutes{
    height: 10px;
    width: 30rem;
}
#seconds{
    height: 20px;
    width: 30rem;
}